<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css"
    />
    <link rel="stylesheet" href="../css/index.css" />
    <link rel="stylesheet" href="../css/detail.css" />
    <title>Design1</title>
  </head>
  <body>
    <div class="works py-5">
      <div class="p-3 p-md-5">
        <div class="works_title ps-3">世界の窓</div>
        <div class="col-12 my-5">
          <video autoplay controls class="works_img">
            <source src="../img/UX-1-1.mp4" />
          </video>
        </div>
        <div class="content_detail mx-5">
          <div class="class">授業</div>
          <div class="method">手順</div>
          <div class="idea">構想</div>
        </div>
      </div>
    </div>
  </body>
</html>
