<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css"
    />
    <link rel="stylesheet" href="/css/index.css" />
    <link rel="stylesheet" href="/css/detail.css" />
    <title>Design1</title>
  </head>
  <body>
    <div class="works py-5">
      <div class="p-3 p-md-5 container">
        <div class="contents_title ps-3">INICook</div>
        <div class="d-flex justify-content-center">
          <div class="col-8 my-5">
            <img src="/img/INICook.png" alt="INICook" class="works_img" />
          </div>
        </div>
        <div class="content_detail mx-5">
          <div class="class">
            <p class="title">プロジェクトの目的</p>
            <p class="c_p col-10">
              本プロジェクトは、コンピュータ・サイエンス基礎演習Ⅱのチーム開発の成果物であり、DjangoやDBを利用したWebサイトを4人で作成した。
            </p>
          </div>
          <div class="method">
            <p class="title col-2">作成方法</p>
            <p class="c_p col-10">Django Python JavaScript HTML CSS</p>
          </div>
          <div class="idea">
            <p class="title col-2">詳細</p>
            <p class="c_p col-10">
              食べログのようなレシピ投稿サイトをテーマとし、ホーム画面、レシピ投稿画面、レシピ一覧表示画面、レシピ詳細画面の構成で作成した。
            </p>
          </div>
          <div class="method">
            <p class="title col-2">担当箇所</p>
            <p class="c_p col-10">
              レシピ一覧画面のフロントエンド/バックエンドを担当。DBに保存されたレシピを一覧として表示するほか、キーワード検索機能やレシピ詳細画面への遷移を作成した。
            </p>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
