<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css"
    />
    <link rel="stylesheet" href="/css/index.css" />
    <link rel="stylesheet" href="/css/detail.css" />
    <title>Design1</title>
  </head>
  <body>
    <div class="works py-5">
      <div class="p-3 p-md-5 container">
        <div class="contents_title ps-3">れきぷら</div>
        <div class="d-flex justify-content-center">
          <div class="col-8 my-5">
            <img src="/img/Rekipura.png" alt="Rekipura" class="works_img" />
          </div>
        </div>
        <div class="content_detail mx-5">
          <div class="class">
            <p class="title">プロジェクトの目的</p>
            <p class="c_p col-10">
              本プロジェクトは、ICT社会応用論dの4Daysチーム開発の成果物であり、VectorDBやRAGを用いたChatGPTを利用した動的なWebアプリを、5人で4日間で開発した。
            </p>
          </div>
          <div class="method">
            <p class="title col-2">作成方法</p>
            <p class="c_p col-10">
              Qdrant RAG Django Python JavaScript HTML CSS
            </p>
          </div>
          <div class="idea">
            <p class="title col-2">詳細</p>
            <p class="c_p col-10">
              歴史を気軽に学べるWebアプリとして、歴史上の人物を入力するとその人物ゆかりの地と詳細が表示される。VectorDBとしてQdrantを用いてRAGを行い、Wikipediaなどの情報を得た歴史に強いChatGPTを作成し、活用している。ChatGPTを用いた「れきしはかせ」への質問機能も備えている。
            </p>
          </div>
          <div class="method">
            <p class="title col-2">担当箇所</p>
            <p class="c_p col-10">
              アプリ画面のフロントエンドを担当。デザイン班の和風な案をもとに、Bootstrapを用いてHTML/CSSを作成した。
            </p>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
